html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.ttf') format('tff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.otf') format('otf');
    font-weight: lighter;
    font-style: normal;
}

body {
    width: 1440px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F4F0;
}

p {
    padding: 0;
    margin: 0;
}

.inter {
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.inter2 {
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.montserrat {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 92px;
    font-style: normal;
}

.montserrat2 {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 64px;
    font-style: normal;
}

.montserrat3 {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 48px;
    font-style: normal;
}

input {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #EFEEEB;
    padding: 0;
    margin-bottom: 4px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #CECECE;
}

.block {
    margin-bottom: 96px;
    width: 100%;
    align-items: center;
}

.info-us {
    display: flex;
    justify-content: center;
}

.block-gray {
    background-color: #EFEEEB;
    opacity: 0,43;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block-feedback {
    display: flex;
}

.feature-list {
    margin-top: 32px;
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем отступы по умолчанию */
}

.feature-item {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по вертикали */
    margin-bottom: 16px; /* Отступ между элементами списка */
}

.star-image {
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.inter {
    font-family: 'Inter', sans-serif; /* Пример использования шрифта Inter */
}

.wrapper2 {
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.vertical-justify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-on-tour {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Равномерное распределение пространства между блоками */
    width: 90%; /* Занимает 90% ширины экрана */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    margin-bottom: 96px;
}

.tour-images {

    flex: 1; /* Занимает половину доступного пространства */
    display: flex;
    justify-content: space-between;

}

.tour-content {
    flex: 1; /* Занимает половину доступного пространства */
    display: flex;
    flex-direction: column;
}

.nerpa {
    display: flex;
    margin-top: 235px;
    align-items: flex-end;
}

.description {
    margin-left: 20px;
}

.tour-images div:nth-child(2) {
    margin-top: 40px; /* Отступ сверху для второй картинки */
}

.program {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Равномерное распределение пространства между блоками */
    width: 90%; /* Занимает 90% ширины экрана */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    margin-bottom: 56px; /* Отступ между блоками */
    margin-top: 56px;
    
}

.days {
    flex: 0 0 42%; /* Занимает 42% ширины родительского блока */
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по горизонтали */
}

.place {
    flex: 0 0 58%; /* Занимает 58% ширины родительского блока */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 225px;
}

.list-days {
    display: flex;
    margin-top: 103px;
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем отступы по умолчанию */
    flex-direction: column;
    align-items: flex-end;
    
}

.list-days li {
    margin-bottom: 16px; /* Добавляем расстояние между элементами */
}

.list-days .special-day {
    font-size: 64px; /* Устанавливаем размер шрифта для "день 3" */
}

.block-price {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.block-price2 {
    display: flex;
}

.horizontal-margin {
    margin-left: 20px;
}

.vertical-margin {
    margin-bottom: 28px;
}

.half-sizing {
    width: 50%;
}

.inblock-padding {
    padding-top: 56px;
}

.input {
    display: block;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 40px;
}

.input p {
    color: #969696
}

.cta-button {
    border-radius: 12px;
    background-color: #1E1E1E;
    color: #F9F9F9;
    width: 24%;
    height: 54px;
    margin-top: 8px;
    margin-bottom: 56px;
    transition: background-color 0.3s ease-out;
}

button {
    border: none;
}

.cta-button:hover {
    background-color: #969696;
    border-color:#969696;
}

.cta-button:active {
    background-color: #A61202;
    border-color: #A61202;
}

.background-zagagulina {
    border-image: url("./image/zagagulina.png");
}

.wrapper {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:80px;
    margin-right: 80px;
    margin-bottom: 86px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.link {
    margin-left: 16px;
}

.tel {
    color: #A61202;
}

#header {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B5B3B3;
}
#menu {
    display: flex;
    width: 53%;
    justify-content: space-between;
}

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-right: 80px;
    margin-left: 80px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    height: 100%;
}

#main {
    
    margin-top: 32px;
    
}


#text2-main {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

#texts3-main {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#main img {
    margin-top: 13px;
    width: 100%;
    border-radius: 12px;

}

#run-line{
    display: flex;
    align-items: center;
}

#run-line img {
    display: flex;
    margin-left: 77px;
    margin-right: 77px;
}

.grid-block {
    display: grid;
    grid-template-columns: 1fr 18px 1fr;
    padding-top: 56px;
}

a {
    text-decoration: none;
}

.anchor {
    color: #1E1E1E;
    transition: color 0.15s ease-out;
}

.anchor:hover {
    color: #969696;
  }

@media (max-width: 1200px) {
    .montserrat {
        font-size: 76px;
    }
    .inter {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .montserrat {
        font-size: 64px;
    }
    .inter {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .montserrat {
        font-size: 50px;
    }
    .inter {
        font-size: 12px;
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    margin-bottom: 56px;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite; /* Бесконечная анимация */
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Начальная позиция: за пределами контейнера */
    }
    100% {
        transform: translateX(-100%); /* Конечная позиция: за пределами контейнера слева */
    }
}


/* .image-container {
    position: relative;
    display: inline-block;
}

.overlay-image {
    width: 100%;
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Изначально картинка прозрачная */
    /* transition: opacity 0.3s ease; Плавный переход */
/* }

.image-container:hover .overlay-image {
    opacity: 1; /* Картинка становится видимой при наведении */
/* } */