@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.ttf') format('tff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.otf') format('otf');
    font-weight: lighter;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F6F4F0;
}

p {
    padding: 0;
    margin: 0;
}

.inter {
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.montserrat {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 92px;
    font-style: normal;
}

.montserrat2 {
    color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 64px;
    font-style: normal;
}

.block {
    margin-bottom: 96px;
    width: 100%;
    align-items: center;
}

.info-us {
    display: flex;
    justify-content: center;
}

.block-gray {
    background-color: #EFEEEB;
    opacity: 0,43;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.feature-list {
    margin-top: 32px;
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем отступы по умолчанию */
}

.feature-item {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по вертикали */
    margin-bottom: 16px; /* Отступ между элементами списка */
}

.star-image {
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.inter {
    font-family: 'Inter', sans-serif; /* Пример использования шрифта Inter */
}

.wrapper2 {
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.expedition-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B5B3B3;
}
#menu {
    display: flex;
    width: 53%;
    justify-content: space-between;
}

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-right: 80px;
    margin-left: 80px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    height: 100%;
}

#main {
    
    margin-top: 32px;
    
}


#text2-main {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

#texts3-main {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#main img {
    margin-top: 13px;
    width: 100%;
    border-radius: 12px;

}

#run-line{
    display: flex;
    align-items: center;
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    overflow: hidden;
    margin-bottom: 56px;
}

#run-line img {
    display: flex;
    margin-left: 77px;
    margin-right: 77px;
}

.grid-block {
    display: grid;
    grid-template-columns: 1fr 18px 1fr;
    padding-top: 56px;
}

@media (max-width: 1200px) {
    .montserrat {
        font-size: 76px;
    }
    .inter {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .montserrat {
        font-size: 64px;
    }
    .inter {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .montserrat {
        font-size: 50px;
    }
    .inter {
        font-size: 12px;
    }
}



/* .image-container {
    position: relative;
    display: inline-block;
}

.overlay-image {
    width: 100%;
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Изначально картинка прозрачная */
    /* transition: opacity 0.3s ease; Плавный переход */
/* }

.image-container:hover .overlay-image {
    opacity: 1; /* Картинка становится видимой при наведении */
/* } */